USE [master]
GO
/****** Object:  Database [BD_PROYECTO_INTEGRADOR]    Script Date: 26/06/2021 13:02:05 ******/
CREATE DATABASE [BD_PROYECTO_INTEGRADOR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_PROYECTO_INTEGRADOR', FILENAME = N'D:\SQL SERVER\MSSQL14.SQLEXPRESS\MSSQL\DATA\BD_PROYECTO_INTEGRADOR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_PROYECTO_INTEGRADOR_log', FILENAME = N'D:\SQL SERVER\MSSQL14.SQLEXPRESS\MSSQL\DATA\BD_PROYECTO_INTEGRADOR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_PROYECTO_INTEGRADOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_PROYECTO_INTEGRADOR]
GO
/****** Object:  Table [dbo].[CARGO]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGO](
	[IDE_CAR] [int] IDENTITY(1,1) NOT NULL,
	[DES_CAR] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_CAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IDE_CAT] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CAT] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_CAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IDE_CLI] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CLI] [varchar](200) NOT NULL,
	[APE_CLI] [varchar](200) NOT NULL,
	[DNI_CLI] [varchar](200) NOT NULL,
	[DIR_CLI] [varchar](200) NULL,
	[COR_CLI] [varchar](200) NULL,
	[FON_CLI] [varchar](50) NULL,
	[ESTADO] [char](1) NULL,
	[IDE_DIS] [int] NULL,
	[IDE_USU] [int] NULL,
 CONSTRAINT [pk_Ide_Cli] PRIMARY KEY CLUSTERED 
(
	[IDE_CLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE](
	[IDE_PED] [int] NOT NULL,
	[IDE_PRO] [int] NOT NULL,
	[PRE_DET] [money] NOT NULL,
	[CAN_DET] [int] NOT NULL,
	[DES_DET] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_PED] ASC,
	[IDE_PRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[IDE_DIS] [int] IDENTITY(1,1) NOT NULL,
	[NOM_DIS] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_DIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[IDE_EMP] [int] IDENTITY(1,1) NOT NULL,
	[NOM_EMP] [varchar](50) NOT NULL,
	[APE_EMP] [varchar](50) NOT NULL,
	[FNA_EMP] [date] NOT NULL,
	[COR_EMP] [varchar](60) NULL,
	[DIR_EMP] [varchar](60) NULL,
	[FON_EMP] [varchar](15) NULL,
	[FOT_EMP] [varchar](15) NULL,
	[ESTADO] [char](1) NULL,
	[IDE_DIS] [int] NULL,
	[IDE_CAR] [int] NULL,
	[IDE_USU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_EMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_MASCOTA]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_MASCOTA](
	[ID_HISTORIAL] [int] IDENTITY(1,1) NOT NULL,
	[IDE_MAS] [int] NOT NULL,
	[INCIDENCIA] [varchar](500) NULL,
	[FECHA_INCIDENCIA] [date] NULL,
	[OBSERVACION] [varchar](500) NULL,
	[ESTADO] [char](1) NULL,
 CONSTRAINT [PK_HISTORIAL] PRIMARY KEY CLUSTERED 
(
	[ID_HISTORIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[IDE_MAR] [int] IDENTITY(1,1) NOT NULL,
	[NOM_MAR] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_MAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASCOTA]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASCOTA](
	[IDE_MAS] [int] IDENTITY(1,1) NOT NULL,
	[NOM_MAS] [varchar](100) NOT NULL,
	[RAZ_MAS] [varchar](100) NULL,
	[SEX_MAS] [varchar](100) NULL,
	[FEC_MAS] [varchar](100) NULL,
	[ESTADO] [char](1) NULL,
	[IDE_TIPO_MASCOTA] [int] NULL,
	[IDE_CLI] [int] NULL,
	[IMG_MAS] [varchar](200) NULL,
	[ID_SER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_MAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modulo]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modulo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_modulo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operaciones]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[idModulo] [int] NULL,
 CONSTRAINT [PK_operaciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[IDE_PAI] [int] IDENTITY(1,1) NOT NULL,
	[NOM_PAI] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_PAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[IDE_PED] [int] NOT NULL,
	[FEC_PED] [date] NOT NULL,
	[FEN_PED] [date] NULL,
	[ENV_PED] [char](1) NULL,
	[CAN_PED] [int] NULL,
	[DES_PED] [varchar](40) NULL,
	[REF_PED] [varchar](60) NULL,
	[ESTADO] [char](1) NULL,
	[IDE_DIS] [int] NULL,
	[IDE_CLI] [int] NULL,
	[IDE_EMP] [int] NULL,
	[IDE_SER] [int] NULL,
	[ID_ESTADO] [int] NULL,
	[COMENTARIO] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_PED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IDE_PRO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_PRO] [varchar](100) NOT NULL,
	[PRE_PRO] [decimal](10, 0) NOT NULL,
	[STOCK_PRO] [int] NOT NULL,
	[ESTADO] [char](1) NULL,
	[IDE_PROV] [int] NULL,
	[IDE_CAT] [int] NULL,
	[IDE_MAR] [int] NULL,
	[IMG_PRO] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_PRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[IDE_PROV] [int] IDENTITY(1,1) NOT NULL,
	[NOM_PROV] [varchar](100) NOT NULL,
	[DIR_PROV] [varchar](100) NOT NULL,
	[FON_PROV] [varchar](15) NOT NULL,
	[COR_PROV] [varchar](15) NOT NULL,
	[IDE_DIS] [int] NULL,
	[ESTADO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_PROV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol_operacion]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol_operacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idRol] [int] NULL,
	[idOperacion] [int] NULL,
 CONSTRAINT [PK_perfil_operacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIO]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIO](
	[IDE_SER] [int] NOT NULL,
	[NOM_SER] [varchar](200) NOT NULL,
	[DES_SER] [varchar](200) NULL,
	[FEC_SER] [date] NULL,
	[PRE_SER] [money] NULL,
	[ESTADO] [char](1) NULL,
	[IDE_CLI] [int] NULL,
	[IDE_EMP] [int] NULL,
	[IMG_SER] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_SER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_MASCOTA]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_MASCOTA](
	[IDE_TIPO_MASCOTA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_TIPO_MASCOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRACKING]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACKING](
	[IDE_TRA] [int] NOT NULL,
	[DES_TRA] [varchar](100) NULL,
	[FEC_TRA] [date] NULL,
	[ESTADO] [char](1) NULL,
	[IDE_PED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDE_TRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 26/06/2021 13:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](200) NULL,
	[fecha] [datetime] NULL,
	[idRol] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([IDE_CAT], [NOM_CAT]) VALUES (1, N'Alimentos')
INSERT [dbo].[CATEGORIA] ([IDE_CAT], [NOM_CAT]) VALUES (2, N'Juguetes')
INSERT [dbo].[CATEGORIA] ([IDE_CAT], [NOM_CAT]) VALUES (3, N'Ropa y complementos')
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([IDE_CLI], [NOM_CLI], [APE_CLI], [DNI_CLI], [DIR_CLI], [COR_CLI], [FON_CLI], [ESTADO], [IDE_DIS], [IDE_USU]) VALUES (1, N'xcvcxgg', N'Mejía', N'74809696', N'Gerardo Únger 1353', N'junior@gmail.com', N'957268850', N'0', 18, 2)
INSERT [dbo].[CLIENTE] ([IDE_CLI], [NOM_CLI], [APE_CLI], [DNI_CLI], [DIR_CLI], [COR_CLI], [FON_CLI], [ESTADO], [IDE_DIS], [IDE_USU]) VALUES (2, N'ghjghhgj', N'dfghfhfgh', N'74845189', N'Matías Fuller 222', N'will@gmail.com', N'999547845', N'0', 14, 2)
INSERT [dbo].[CLIENTE] ([IDE_CLI], [NOM_CLI], [APE_CLI], [DNI_CLI], [DIR_CLI], [COR_CLI], [FON_CLI], [ESTADO], [IDE_DIS], [IDE_USU]) VALUES (3, N'Johana', N'Alarco', N'98574896', N'San Felipe 7894', N'johana@gmail.com', N'982014578', N'1', 13, 4)
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
INSERT [dbo].[DETALLE] ([IDE_PED], [IDE_PRO], [PRE_DET], [CAN_DET], [DES_DET]) VALUES (3, 130, 10.0000, 5, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[DETALLE] ([IDE_PED], [IDE_PRO], [PRE_DET], [CAN_DET], [DES_DET]) VALUES (4, 129, 200.0000, 10, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[DETALLE] ([IDE_PED], [IDE_PRO], [PRE_DET], [CAN_DET], [DES_DET]) VALUES (5, 130, 10.0000, 5, CAST(0 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[DISTRITO] ON 

INSERT [dbo].[DISTRITO] ([IDE_DIS], [NOM_DIS]) VALUES (1, N'Ancón')
INSERT [dbo].[DISTRITO] ([IDE_DIS], [NOM_DIS]) VALUES (2, N'Ate Vitarte')
INSERT [dbo].[DISTRITO] ([IDE_DIS], [NOM_DIS]) VALUES (3, N'Barranco')
SET IDENTITY_INSERT [dbo].[DISTRITO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

INSERT [dbo].[ESTADO] ([ID_ESTADO], [DESCRIPCION]) VALUES (1, N'EN PROCESO DE ENVIO')
INSERT [dbo].[ESTADO] ([ID_ESTADO], [DESCRIPCION]) VALUES (2, N'ENTREGADO')
INSERT [dbo].[ESTADO] ([ID_ESTADO], [DESCRIPCION]) VALUES (3, N'ANULADO')
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
GO
SET IDENTITY_INSERT [dbo].[MARCA] ON 

INSERT [dbo].[MARCA] ([IDE_MAR], [NOM_MAR]) VALUES (1, N'Ricocan')
INSERT [dbo].[MARCA] ([IDE_MAR], [NOM_MAR]) VALUES (2, N'ProPlan')
INSERT [dbo].[MARCA] ([IDE_MAR], [NOM_MAR]) VALUES (3, N'Pedigree')
SET IDENTITY_INSERT [dbo].[MARCA] OFF
GO
SET IDENTITY_INSERT [dbo].[MASCOTA] ON 

INSERT [dbo].[MASCOTA] ([IDE_MAS], [NOM_MAS], [RAZ_MAS], [SEX_MAS], [FEC_MAS], [ESTADO], [IDE_TIPO_MASCOTA], [IDE_CLI], [IMG_MAS], [ID_SER]) VALUES (21, N'fvbdfhgfghfghhf', N'Schnauzer', N'Macho', N'03/04/2021', N'X', 1, 2, N'~/fotos_mascotas/otoooo.jpg', 1)
INSERT [dbo].[MASCOTA] ([IDE_MAS], [NOM_MAS], [RAZ_MAS], [SEX_MAS], [FEC_MAS], [ESTADO], [IDE_TIPO_MASCOTA], [IDE_CLI], [IMG_MAS], [ID_SER]) VALUES (22, N'Cutolo', N'Pudlle', N'Macho', N'01/01/2021', N'X', 1, 2, N'~/fotos_mascotas/puddle1.jpg', 2)
INSERT [dbo].[MASCOTA] ([IDE_MAS], [NOM_MAS], [RAZ_MAS], [SEX_MAS], [FEC_MAS], [ESTADO], [IDE_TIPO_MASCOTA], [IDE_CLI], [IMG_MAS], [ID_SER]) VALUES (23, N'Panchito', N'Bengala', N'Macho', N'10/04/2021', N'X', 2, 2, N'~/fotos_mascotas/banner.jpg', 1)
SET IDENTITY_INSERT [dbo].[MASCOTA] OFF
GO
INSERT [dbo].[PEDIDO] ([IDE_PED], [FEC_PED], [FEN_PED], [ENV_PED], [CAN_PED], [DES_PED], [REF_PED], [ESTADO], [IDE_DIS], [IDE_CLI], [IDE_EMP], [IDE_SER], [ID_ESTADO], [COMENTARIO]) VALUES (1, CAST(N'2021-05-25' AS Date), NULL, NULL, 2, N'PRODUCTO PRUEBA', NULL, N'A', NULL, 2, NULL, NULL, 1, NULL)
INSERT [dbo].[PEDIDO] ([IDE_PED], [FEC_PED], [FEN_PED], [ENV_PED], [CAN_PED], [DES_PED], [REF_PED], [ESTADO], [IDE_DIS], [IDE_CLI], [IDE_EMP], [IDE_SER], [ID_ESTADO], [COMENTARIO]) VALUES (2, CAST(N'2021-05-25' AS Date), NULL, NULL, 5, N'cvbcbxcbcvbxcfbcbcvb', NULL, N'A', NULL, 2, NULL, NULL, 1, NULL)
INSERT [dbo].[PEDIDO] ([IDE_PED], [FEC_PED], [FEN_PED], [ENV_PED], [CAN_PED], [DES_PED], [REF_PED], [ESTADO], [IDE_DIS], [IDE_CLI], [IDE_EMP], [IDE_SER], [ID_ESTADO], [COMENTARIO]) VALUES (3, CAST(N'2021-05-25' AS Date), NULL, NULL, 5, N'cvbcbxcbcvbxcfbcbcvb', NULL, N'A', NULL, 2, NULL, NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([IDE_PRO], [NOM_PRO], [PRE_PRO], [STOCK_PRO], [ESTADO], [IDE_PROV], [IDE_CAT], [IDE_MAR], [IMG_PRO]) VALUES (65, N'cvxbccvcvbcvb', CAST(80 AS Decimal(10, 0)), 600, N'X', 2, 2, 2, N'~/fotos_productos/assss.jpg')
INSERT [dbo].[PRODUCTO] ([IDE_PRO], [NOM_PRO], [PRE_PRO], [STOCK_PRO], [ESTADO], [IDE_PROV], [IDE_CAT], [IDE_MAR], [IMG_PRO]) VALUES (66, N'ProPlan Cachorro 15.42kg', CAST(295 AS Decimal(10, 0)), 600, N'X', 3, 1, 2, N'~/fotos_productos/foto2.jpg')
INSERT [dbo].[PRODUCTO] ([IDE_PRO], [NOM_PRO], [PRE_PRO], [STOCK_PRO], [ESTADO], [IDE_PROV], [IDE_CAT], [IDE_MAR], [IMG_PRO]) VALUES (67, N'Pedigree Cachorro 20kg', CAST(168 AS Decimal(10, 0)), 600, N'X', 2, 1, 3, N'~/fotos_productos/foto3.png')
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([IDE_PROV], [NOM_PROV], [DIR_PROV], [FON_PROV], [COR_PROV], [IDE_DIS], [ESTADO]) VALUES (1, N'sdfsf', N'Jirón Los Tamarindos 106', N'957268858', N'dinet@gmail.com', 16, N'A')
INSERT [dbo].[PROVEEDOR] ([IDE_PROV], [NOM_PROV], [DIR_PROV], [FON_PROV], [COR_PROV], [IDE_DIS], [ESTADO]) VALUES (2, N'Most Flow', N'Jirón Los Ángeles 244', N'970822555', N'flow@gmail.com', 41, N'A')
INSERT [dbo].[PROVEEDOR] ([IDE_PROV], [NOM_PROV], [DIR_PROV], [FON_PROV], [COR_PROV], [IDE_DIS], [ESTADO]) VALUES (3, N'Mundo VVV', N'Jirón Tres Cruces 288', N'987444689', N'valdi@gmail.com', 30, N'A')
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
GO
SET IDENTITY_INSERT [dbo].[rol] ON 

INSERT [dbo].[rol] ([id], [nombre]) VALUES (1, N'administrador')
INSERT [dbo].[rol] ([id], [nombre]) VALUES (2, N'cliente')
SET IDENTITY_INSERT [dbo].[rol] OFF
GO
INSERT [dbo].[SERVICIO] ([IDE_SER], [NOM_SER], [DES_SER], [FEC_SER], [PRE_SER], [ESTADO], [IDE_CLI], [IDE_EMP], [IMG_SER]) VALUES (1, N'BAÑOS Y CORTES', N'BAÑOS Y CORTES', CAST(N'2021-03-10' AS Date), 45.0000, N'X', NULL, NULL, N'~/fotos_mascotas/bañosycortes.jpg')
INSERT [dbo].[SERVICIO] ([IDE_SER], [NOM_SER], [DES_SER], [FEC_SER], [PRE_SER], [ESTADO], [IDE_CLI], [IDE_EMP], [IMG_SER]) VALUES (2, N'HOSPEDAJE', N'HOSPEDAJE', CAST(N'2021-03-10' AS Date), 30.0000, N'X', NULL, NULL, N'~/fotos_mascotas/hospedajex.jpg')
INSERT [dbo].[SERVICIO] ([IDE_SER], [NOM_SER], [DES_SER], [FEC_SER], [PRE_SER], [ESTADO], [IDE_CLI], [IDE_EMP], [IMG_SER]) VALUES (3, N'VACUNAS', N'VACUNAS', CAST(N'2021-03-10' AS Date), 65.0000, N'A', NULL, NULL, N'~/fotos_mascotas/vacuna.jpg')
GO
SET IDENTITY_INSERT [dbo].[TIPO_MASCOTA] ON 

INSERT [dbo].[TIPO_MASCOTA] ([IDE_TIPO_MASCOTA], [DESCRIPCION]) VALUES (1, N'Perro')
INSERT [dbo].[TIPO_MASCOTA] ([IDE_TIPO_MASCOTA], [DESCRIPCION]) VALUES (2, N'Gato')
INSERT [dbo].[TIPO_MASCOTA] ([IDE_TIPO_MASCOTA], [DESCRIPCION]) VALUES (3, N'Conejo')
SET IDENTITY_INSERT [dbo].[TIPO_MASCOTA] OFF
GO
INSERT [dbo].[TRACKING] ([IDE_TRA], [DES_TRA], [FEC_TRA], [ESTADO], [IDE_PED]) VALUES (1, N'EN PROCESO DE ENVIO', CAST(N'2021-05-25' AS Date), N'A', 2)
INSERT [dbo].[TRACKING] ([IDE_TRA], [DES_TRA], [FEC_TRA], [ESTADO], [IDE_PED]) VALUES (2, N'EN PROCESO DE ENVIO', CAST(N'2021-05-25' AS Date), N'A', 12)
INSERT [dbo].[TRACKING] ([IDE_TRA], [DES_TRA], [FEC_TRA], [ESTADO], [IDE_PED]) VALUES (3, N'EN PROCESO DE ENVIO', CAST(N'2021-05-25' AS Date), N'A', 13)
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [nombre], [email], [password], [fecha], [idRol]) VALUES (1, N'JuniorM', N'junior@gmail.com', N'clave1', CAST(N'2021-01-10T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[usuario] ([id], [nombre], [email], [password], [fecha], [idRol]) VALUES (2, N'William Tello', N'will@gmail.com', N'clave2', CAST(N'2021-01-11T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[usuario] ([id], [nombre], [email], [password], [fecha], [idRol]) VALUES (3, N'JohanaA', N'johana@gmail.com', N'clave3', CAST(N'2021-01-12T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unik_Dni]    Script Date: 26/06/2021 13:02:06 ******/
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [Unik_Dni] UNIQUE NONCLUSTERED 
(
	[DNI_CLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [fk_Distrito_Cli] FOREIGN KEY([IDE_DIS])
REFERENCES [dbo].[DISTRITO] ([IDE_DIS])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [fk_Distrito_Cli]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [fk_id_usuario] FOREIGN KEY([IDE_USU])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [fk_id_usuario]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD FOREIGN KEY([IDE_PED])
REFERENCES [dbo].[PEDIDO] ([IDE_PED])
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD FOREIGN KEY([IDE_PRO])
REFERENCES [dbo].[PRODUCTO] ([IDE_PRO])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([IDE_CAR])
REFERENCES [dbo].[CARGO] ([IDE_CAR])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([IDE_DIS])
REFERENCES [dbo].[DISTRITO] ([IDE_DIS])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([IDE_USU])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[HISTORIAL_MASCOTA]  WITH CHECK ADD  CONSTRAINT [FK_MASCOTA] FOREIGN KEY([IDE_MAS])
REFERENCES [dbo].[MASCOTA] ([IDE_MAS])
GO
ALTER TABLE [dbo].[HISTORIAL_MASCOTA] CHECK CONSTRAINT [FK_MASCOTA]
GO
ALTER TABLE [dbo].[MASCOTA]  WITH CHECK ADD FOREIGN KEY([IDE_CLI])
REFERENCES [dbo].[CLIENTE] ([IDE_CLI])
GO
ALTER TABLE [dbo].[MASCOTA]  WITH CHECK ADD FOREIGN KEY([IDE_TIPO_MASCOTA])
REFERENCES [dbo].[TIPO_MASCOTA] ([IDE_TIPO_MASCOTA])
GO
ALTER TABLE [dbo].[operaciones]  WITH CHECK ADD  CONSTRAINT [FK_operaciones_modulo] FOREIGN KEY([idModulo])
REFERENCES [dbo].[modulo] ([id])
GO
ALTER TABLE [dbo].[operaciones] CHECK CONSTRAINT [FK_operaciones_modulo]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD FOREIGN KEY([IDE_CLI])
REFERENCES [dbo].[CLIENTE] ([IDE_CLI])
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD FOREIGN KEY([IDE_DIS])
REFERENCES [dbo].[DISTRITO] ([IDE_DIS])
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD FOREIGN KEY([IDE_EMP])
REFERENCES [dbo].[EMPLEADO] ([IDE_EMP])
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD FOREIGN KEY([IDE_SER])
REFERENCES [dbo].[SERVICIO] ([IDE_SER])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IDE_CAT])
REFERENCES [dbo].[CATEGORIA] ([IDE_CAT])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IDE_MAR])
REFERENCES [dbo].[MARCA] ([IDE_MAR])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IDE_PROV])
REFERENCES [dbo].[PROVEEDOR] ([IDE_PROV])
GO
ALTER TABLE [dbo].[PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([IDE_DIS])
REFERENCES [dbo].[DISTRITO] ([IDE_DIS])
GO
ALTER TABLE [dbo].[rol_operacion]  WITH CHECK ADD  CONSTRAINT [FK_rol_operacion_operaciones] FOREIGN KEY([idOperacion])
REFERENCES [dbo].[operaciones] ([id])
GO
ALTER TABLE [dbo].[rol_operacion] CHECK CONSTRAINT [FK_rol_operacion_operaciones]
GO
ALTER TABLE [dbo].[rol_operacion]  WITH CHECK ADD  CONSTRAINT [FK_rol_operacion_rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[rol] ([id])
GO
ALTER TABLE [dbo].[rol_operacion] CHECK CONSTRAINT [FK_rol_operacion_rol]
GO
ALTER TABLE [dbo].[SERVICIO]  WITH CHECK ADD FOREIGN KEY([IDE_CLI])
REFERENCES [dbo].[CLIENTE] ([IDE_CLI])
GO
ALTER TABLE [dbo].[SERVICIO]  WITH CHECK ADD FOREIGN KEY([IDE_EMP])
REFERENCES [dbo].[EMPLEADO] ([IDE_EMP])
GO
ALTER TABLE [dbo].[TRACKING]  WITH CHECK ADD FOREIGN KEY([IDE_PED])
REFERENCES [dbo].[PEDIDO] ([IDE_PED])
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[rol] ([id])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_rol]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZACLIENTE]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ACTUALIZACLIENTE](@IDE_CLI INT,@NOM_CLI VARCHAR(200),@APE_CLI VARCHAR(200), @DNI_CLI VARCHAR(200), @DIR_CLI VARCHAR(200),
							     @FON_CLI VARCHAR(200),@IDE_DIS INT)
AS
	UPDATE CLIENTE 
		SET  NOM_CLI=@NOM_CLI,APE_CLI=@APE_CLI,DNI_CLI=@DNI_CLI,DIR_CLI=@DIR_CLI,FON_CLI=@FON_CLI, IDE_DIS=@IDE_DIS
		WHERE IDE_CLI=@IDE_CLI
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAMASCOTA]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[SP_ACTUALIZAMASCOTA](@IDE_MAS INT,@NOM_MAS VARCHAR(200),@RAZ_MAS VARCHAR(200), @SEX_MAS VARCHAR(200), @FEC_MAS VARCHAR(200),
										@IDE_TIPOMAS INT, @IDE_SER INT, @IMG_MAS VARCHAR(100))
AS
	UPDATE MASCOTA 
		SET  NOM_MAS=@NOM_MAS, RAZ_MAS=@RAZ_MAS, SEX_MAS=@SEX_MAS, FEC_MAS=@FEC_MAS, IDE_TIPO_MASCOTA=@IDE_TIPOMAS,ID_SER=@IDE_SER, IMG_MAS=@IMG_MAS
		WHERE IDE_MAS=@IDE_MAS
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAPRODUCTO]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROC [dbo].[SP_ACTUALIZAPRODUCTO](@IDE INT,@NOM VARCHAR(40),@PROV INT,@CAT INT,
							     @PRE MONEY,@STO INT,@MAR INT,@FOT VARCHAR(50))
AS
	UPDATE PRODUCTO 
		SET  NOM_PRO=@NOM,IDE_PROV=@PROV,IDE_CAT=@CAT,PRE_PRO=@PRE,IDE_MAR=@MAR,STOCK_PRO=@STO,IMG_PRO=@FOT 
		WHERE IDE_PRO=@IDE
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAPROVEEDOR]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* P R O V E E D O R  */
CREATE PROC [dbo].[SP_ACTUALIZAPROVEEDOR](@IDE INT,@NOM VARCHAR(100),@DIR_PROV VARCHAR(100),@FON_PROV VARCHAR(15),
							     @COR_PROV VARCHAR(15),@IDE_DIS INT)
AS
	UPDATE PROVEEDOR 
		SET  NOM_PROV=@NOM,DIR_PROV=@DIR_PROV,FON_PROV=@FON_PROV,COR_PROV=@COR_PROV,IDE_DIS=@IDE_DIS
		WHERE IDE_PROV=@IDE
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZASERVICIO]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROC [dbo].[SP_ACTUALIZASERVICIO](@IDE_SER INT,@NOM_SER VARCHAR(200), @DES_SER VARCHAR(200),@FEC_SER DATETIME, @PRE_SER MONEY, @IMG_SER VARCHAR(100))
AS
	UPDATE SERVICIO 
		SET  NOM_SER=@NOM_SER, DES_SER=@DES_SER, FEC_SER= @FEC_SER, PRE_SER = @PRE_SER, IMG_SER= @IMG_SER
		WHERE IDE_SER=@IDE_SER
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINACLIENTE]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[SP_ELIMINACLIENTE](@IDE_CLI INT)
AS
	UPDATE CLIENTE SET ESTADO = 0 WHERE IDE_CLI=@IDE_CLI
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAMASCOTA]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROC [dbo].[SP_ELIMINAMASCOTA](@IDE_MAS INT)
AS
	UPDATE MASCOTA SET ESTADO = 'X' WHERE IDE_MAS=@IDE_MAS
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAPRODUCTO]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_ELIMINAPRODUCTO](@IDE INT)
AS
	UPDATE PRODUCTO SET ESTADO = 'X' WHERE IDE_PRO=@IDE
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAPROVEEDOR]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROC [dbo].[SP_ELIMINAPROVEEDOR](@IDE INT)
AS
	UPDATE PROVEEDOR SET ESTADO = 'X' WHERE IDE_PROV=@IDE
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINASERVICIO]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROC [dbo].[SP_ELIMINASERVICIO](@IDE_SER INT)
AS
	UPDATE SERVICIO SET ESTADO = 'X' WHERE IDE_SER=@IDE_SER
GO
/****** Object:  StoredProcedure [dbo].[SP_GRABARESTADOPEDIDO]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SP_GRABARESTADOPEDIDO](@IDE_PED INTEGER,@IDE_EST INTEGER, @COMENTA VARCHAR)
AS

UPDATE PEDIDO SET ID_ESTADO = @IDE_EST, COMENTARIO = @COMENTA WHERE IDE_PED = @IDE_PED;

GO
/****** Object:  StoredProcedure [dbo].[SP_GRABARHISTORIAL]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SP_GRABARHISTORIAL](@IDE_MAS INTEGER, @INCIDENCIA VARCHAR,@OBSER VARCHAR)
AS
INSERT INTO HISTORIAL_MASCOTA (IDE_MAS,INCIDENCIA,FECHA_INCIDENCIA,OBSERVACION,ESTADO)
VALUES(@IDE_MAS,@INCIDENCIA,GETDATE(),@OBSER,'A');

GO
/****** Object:  StoredProcedure [dbo].[SP_INGRESOUSUARIO]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       PROC [dbo].[SP_INGRESOUSUARIO](@USER VARCHAR(100),@CLAVE VARCHAR(100))
AS 
	SELECT 
	id,
	nombre,
	idRol
	FROM usuario 
	where trim(email) = @USER and trim(password) = @CLAVE
		
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTACATEGORIA]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		CREATE   PROC [dbo].[SP_LISTACATEGORIA]
AS 
	SELECT PV.IDE_CAT, PV.NOM_CAT
		FROM CATEGORIA PV
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTACLIENTE]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTACLIENTE]
AS 
	SELECT CL.IDE_CLI, CL.NOM_CLI, CL.APE_CLI, CL.DNI_CLI, CL.DIR_CLI, CL.COR_CLI, CL.FON_CLI, D.NOM_DIS
		FROM CLIENTE CL inner join DISTRITO D ON D.IDE_DIS = CL.IDE_DIS
		WHERE CL.ESTADO = 1
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTADISTRITO]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		CREATE   PROC [dbo].[SP_LISTADISTRITO]
AS 
	SELECT D.IDE_DIS, D.NOM_DIS
		FROM DISTRITO D
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTADOMASCOTA]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


		create     PROC [dbo].[SP_LISTADOMASCOTA]
AS 
	SELECT MAS.IDE_MAS, MAS.NOM_MAS,MAS.RAZ_MAS, MAS.SEX_MAS, TIP.DESCRIPCION, MAS.IMG_MAS
		FROM MASCOTA MAS INNER JOIN TIPO_MASCOTA TIP ON TIP.IDE_TIPO_MASCOTA = MAS.IDE_TIPO_MASCOTA
		WHERE MAS.ESTADO <> 'X'
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTADOMASCOTANEW]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		create     PROC [dbo].[SP_LISTADOMASCOTANEW](@IDE_USU INTEGER)
AS 
	SELECT MAS.IDE_MAS, MAS.NOM_MAS,MAS.RAZ_MAS, MAS.SEX_MAS, TIP.DESCRIPCION, MAS.IMG_MAS
		FROM MASCOTA MAS INNER JOIN TIPO_MASCOTA TIP ON TIP.IDE_TIPO_MASCOTA = MAS.IDE_TIPO_MASCOTA
		INNER JOIN CLIENTE C ON C.IDE_CLI = MAS.IDE_CLI
		INNER JOIN usuario U ON U.id = C.IDE_USU
		WHERE MAS.ESTADO <> 'X' AND U.id = @IDE_USU 
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTADOPEDIDOS]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SP_LISTADOPEDIDOS]
AS

SELECT
 PED.IDE_PED
,PED.FEC_PED
,PED.CAN_PED
--,PRO.NOM_PRO
,CLI.NOM_CLI
--,TRA.DES_TRA
,EST.DESCRIPCION
FROM PEDIDO PED
INNER JOIN ESTADO EST ON EST.ID_ESTADO = PED.ID_ESTADO
INNER JOIN CLIENTE CLI ON CLI.IDE_CLI = PED.IDE_CLI
INNER JOIN usuario USU ON USU.id = CLI.IDE_USU
LEFT JOIN TRACKING TRA ON TRA.IDE_PED = PED.IDE_PED
order by 1 desc

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTADOPRODUCTOS]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_LISTADOPRODUCTOS]
AS
	SELECT P.IDE_PRO,P.NOM_PRO,PR.NOM_PROV,C.NOM_CAT,
		P.PRE_PRO,P.STOCK_PRO, M.NOM_MAR
		FROM PRODUCTO P
		JOIN PROVEEDOR PR ON P.IDE_PROV=PR.IDE_PROV
		JOIN CATEGORIA C ON C.IDE_CAT=P.IDE_CAT
		JOIN MARCA M ON M.IDE_MAR = P.IDE_MAR
		WHERE P.ESTADO <> 'X'
		order by 1 desc
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTADOPROVEEDOR]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_LISTADOPROVEEDOR]
AS 
	SELECT PV.IDE_PROV, PV.NOM_PROV, PV.DIR_PROV, PV.FON_PROV, PV.COR_PROV, D.NOM_DIS
		FROM PROVEEDOR PV
		INNER JOIN DISTRITO D ON D.IDE_DIS = PV.IDE_DIS
		WHERE PV.ESTADO <> 'X'
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAESTADOS]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SP_LISTAESTADOS]
AS

SELECT
ID_ESTADO,
DESCRIPCION
FROM ESTADO
order by 1 desc

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAHISTORIAL]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SP_LISTAHISTORIAL](@IDE_MAS INTEGER)
AS

SELECT 
H.ID_HISTORIAL,
M.NOM_MAS,
TM.DESCRIPCION,
C.NOM_CLI + C.APE_CLI,
H.INCIDENCIA,
H.FECHA_INCIDENCIA,
H.OBSERVACION
FROM HISTORIAL_MASCOTA H
INNER JOIN MASCOTA M ON M.IDE_MAS = H.IDE_MAS
INNER JOIN TIPO_MASCOTA TM ON TM.IDE_TIPO_MASCOTA = M.IDE_TIPO_MASCOTA
INNER JOIN CLIENTE C ON C.IDE_CLI = M.IDE_CLI
WHERE M.IDE_MAS = @IDE_MAS AND H.ESTADO <> 'X';

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAMARCA]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		CREATE   PROC [dbo].[SP_LISTAMARCA]
AS 
	SELECT M.IDE_MAR, M.NOM_MAR
		FROM MARCA M
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAMASCOTA]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     PROC [dbo].[SP_LISTAMASCOTA]
AS 
	SELECT MAS.IDE_MAS, MAS.NOM_MAS,MAS.RAZ_MAS, MAS.SEX_MAS, MAS.FEC_MAS, MAS.IDE_TIPO_MASCOTA,MAS.ID_SER,MAS.IMG_MAS 
		FROM MASCOTA MAS
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAPEDIDOTRACKING]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[SP_LISTAPEDIDOTRACKING]
(
@IDE_USU  INTEGER
)
AS

SELECT
 PED.IDE_PED
,PED.FEC_PED
,PED.CAN_PED
--,PRO.NOM_PRO
,CLI.NOM_CLI
--,TRA.DES_TRA
,EST.DESCRIPCION
FROM PEDIDO PED
INNER JOIN ESTADO EST ON EST.ID_ESTADO = PED.ID_ESTADO
INNER JOIN CLIENTE CLI ON CLI.IDE_CLI = PED.IDE_CLI
INNER JOIN usuario USU ON USU.id = CLI.IDE_USU
LEFT JOIN TRACKING TRA ON TRA.IDE_PED = PED.IDE_PED
WHERE PED.ESTADO = 'A' AND USU.id = @IDE_USU;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAPEDIDOTRACKING_DET]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     procedure [dbo].[SP_LISTAPEDIDOTRACKING_DET]
(
@IDE_PED INTEGER
)
AS

SELECT
 PED.IDE_PED
,PED.FEC_PED
,PRO.NOM_PRO
,PED.CAN_PED
,DET.PRE_DET
,(PED.CAN_PED * DET.PRE_DET) AS MONTO
,PRO.IMG_PRO
FROM PEDIDO PED
INNER JOIN DETALLE DET ON DET.IDE_PED = PED.IDE_PED
INNER JOIN PRODUCTO PRO ON PRO.IDE_PRO = DET.IDE_PRO
WHERE PED.ESTADO = 'A' AND PED.IDE_PED = @IDE_PED;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAPRODUCTOS]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_LISTAPRODUCTOS]
AS 
	SELECT P.IDE_PRO,P.NOM_PRO,P.PRE_PRO,P.STOCK_PRO,P.IDE_PROV,P.IDE_CAT,P.IDE_MAR
		FROM PRODUCTO P
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAPROVEEDOR]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_LISTAPROVEEDOR]
AS 
	SELECT PV.IDE_PROV, PV.NOM_PROV, PV.DIR_PROV, PV.FON_PROV, PV.COR_PROV, PV.IDE_DIS
		FROM PROVEEDOR PV
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTASERVICIO]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_LISTASERVICIO]
AS 
	SELECT SV.IDE_SER, SV.NOM_SER, SV.DES_SER, SV.FEC_SER, SV.PRE_SER, SV.IMG_SER
		FROM SERVICIO SV where ESTADO = 'A'
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTATIPOMASCOTA]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		create       PROC [dbo].[SP_LISTATIPOMASCOTA]
AS 
	SELECT TM.IDE_TIPO_MASCOTA, TM.DESCRIPCION
		FROM TIPO_MASCOTA TM

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTPRODUCTOSDET]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROC [dbo].[SP_LISTPRODUCTOSDET]
AS 
	SELECT P.IDE_PRO,P.NOM_PRO,P.PRE_PRO,P.STOCK_PRO,P.IMG_PRO
		FROM PRODUCTO P
		order by 1 desc
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVOCLIENTE]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NUEVOCLIENTE](@NOM_CLI VARCHAR(200),@APE_CLI VARCHAR(200), @DNI_CLI VARCHAR(200), @DIR_CLI VARCHAR(200),
							     @FON_CLI VARCHAR(200),@IDE_DIS INT,@COR_CLI VARCHAR(200),@PAS_CLI VARCHAR(200))
AS
declare @v_id_usuario INT

	IF NOT EXISTS(SELECT * FROM CLIENTE WHERE DNI_CLI = @DNI_CLI) 
	BEGIN

	INSERT INTO usuario(nombre, email, password,fecha,idRol)
	VALUES(@NOM_CLI,@COR_CLI,@PAS_CLI,GETDATE(),2);

	SELECT @v_id_usuario = id from usuario where nombre = @NOM_CLI and password = @PAS_CLI;
	INSERT INTO CLIENTE(NOM_CLI,APE_CLI,DNI_CLI,DIR_CLI,COR_CLI,FON_CLI,IDE_DIS,IDE_USU, ESTADO) 
		VALUES(@NOM_CLI,@APE_CLI,@DNI_CLI,@DIR_CLI,@COR_CLI,@FON_CLI,@IDE_DIS,@v_id_usuario,1);
	END
	ELSE
	BEGIN
	SELECT @v_id_usuario = IDE_USU from CLIENTE WHERE DNI_CLI = @DNI_CLI;
		UPDATE usuario set email = @COR_CLI, password = @PAS_CLI WHERE id = @v_id_usuario; 
	END 
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVOMASCOTA]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_NUEVOMASCOTA](@NOM_MAS VARCHAR(200),@RAZ_MAS VARCHAR(200), @SEX_MAS VARCHAR(200), @FEC_MAS VARCHAR(200),
										@IDE_TIPOMAS INT, @IMG_MAS VARCHAR(100), @ID_SER INT, @IDE_USU INT)
AS

DECLARE @V_IDE_CLI INTEGER

	SELECT TOP 1 @V_IDE_CLI = IDE_CLI FROM CLIENTE WHERE IDE_USU = @IDE_USU;

	INSERT INTO MASCOTA(NOM_MAS,RAZ_MAS,SEX_MAS,FEC_MAS,ESTADO,IDE_TIPO_MASCOTA,IMG_MAS,ID_SER, IDE_CLI) 
		VALUES(@NOM_MAS,@RAZ_MAS,@SEX_MAS,@FEC_MAS,'A',@IDE_TIPOMAS,@IMG_MAS,@ID_SER,@V_IDE_CLI);
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVOPRODUCTO]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     PROC [dbo].[SP_NUEVOPRODUCTO](@NOM VARCHAR(40),@PROV INT,@CAT INT,
							  @PRE MONEY,@STO INT,@MAR INT, @FOT VARCHAR(100))
AS
	INSERT INTO PRODUCTO(NOM_PRO,IDE_PROV,IDE_CAT,PRE_PRO,STOCK_PRO,IDE_MAR,IMG_PRO,ESTADO) 
		VALUES(@NOM,@PROV,@CAT,@PRE,@STO,@MAR,@FOT,'1')
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVOPROVEEDOR]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_NUEVOPROVEEDOR](@NOM VARCHAR(100),@DIR_PROV VARCHAR(100),@FON_PROV VARCHAR(15),
							  @COR_PROV VARCHAR(15),@IDE_DIS INT)
AS
	INSERT INTO PROVEEDOR(NOM_PROV,DIR_PROV,FON_PROV,COR_PROV,IDE_DIS,ESTADO) 
		VALUES(@NOM,@DIR_PROV,@FON_PROV,@COR_PROV,@IDE_DIS,'A')
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVOSERVICIO]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[SP_NUEVOSERVICIO](@NOM_SER VARCHAR(200), @DES_SER VARCHAR(200),@FEC_SER DATETIME, @PRE_SER MONEY, @IMG_SER VARCHAR(100))
AS

	INSERT INTO SERVICIO(IDE_SER,NOM_SER,DES_SER,FEC_SER,PRE_SER,ESTADO,IMG_SER) 
		VALUES((select max(IDE_SER) + 1 FROM SERVICIO),@NOM_SER,@DES_SER,@FEC_SER,@PRE_SER,'A',@IMG_SER);
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAPEDIDO]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_REGISTRAPEDIDO](@IDE_CLI INT,@CAN_PED INT, @ID_PED INT OUT)
AS
declare @V_ID_PED INTEGER
declare @V_ID_TRA INTEGER
declare @V_IDE_CLI INTEGER

SELECT TOP 1 @V_IDE_CLI = IDE_CLI FROM CLIENTE WHERE IDE_USU = @IDE_CLI;

	SELECT @V_ID_PED = MAX(IDE_PED) + 1  FROM PEDIDO;
	INSERT INTO PEDIDO (IDE_PED,FEC_PED,CAN_PED,ESTADO,IDE_CLI)
	VALUES (@V_ID_PED,GETDATE(),@CAN_PED,'A',@V_IDE_CLI);

	SELECT @V_ID_TRA = MAX(IDE_TRA) + 1  FROM TRACKING;
	INSERT INTO TRACKING(IDE_TRA,DES_TRA,FEC_TRA,ESTADO,IDE_PED)
	VALUES (@V_ID_TRA,'EN PROCESO DE ENVIO',GETDATE(),'A',@V_ID_PED);
	
	SET @ID_PED = @V_ID_PED
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAPEDIDO_DET]    Script Date: 26/06/2021 13:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	create     PROC [dbo].[SP_REGISTRAPEDIDO_DET](@IDE_PED INT,@IDE_PRO INT,@PRE_PED MONEY, @CAN_PED INT)
AS
declare @V_ID_PED INTEGER
declare @V_ID_TRA INTEGER
declare @V_IDE_CLI INTEGER


INSERT INTO DETALLE(IDE_PED,IDE_PRO,PRE_DET,CAN_DET,DES_DET)
VALUES(@IDE_PED,@IDE_PRO,@PRE_PED,@CAN_PED,0);
GO
USE [master]
GO
